$color_subtitulo: #3cb371;
$color_articulo: #f2511b;
$small: 800px;

@font-face {
    font-family: "open-dyslexic";
    src: url("Fonts/open_dyslexic/OpenDyslexic-Regular.otf");
}
@font-face {
    font-family: "open-dyslexic-bold";
    src: url("Fonts/open_dyslexic/OpenDyslexic-Bold.otf");
}

.normal-mode {
    font-family: "Times New Roman", Times, serif;
}

.dyslexic-mode {
    font-family: "open-dyslexic-bold";
}

#change_button {
    float: right;
    font-size: 100%;
    width: 100px;
    border-radius: 10px;
}

header {
    width: 80%;
    margin: auto;
    h3 {
        color: $color_subtitulo;
    }
}

main {
    margin: auto;
    justify-content: space-between;
    width: 70%;
    align-content: center;
    color: black;

    h4{
        color: $color_articulo;
    }

    .pretty-list {
        ul {
            li {
                @media screen and (max-width: $small) {
                    width: 100%;
                }
                @media screen and (min-width: $small) {
                    width: 30%;
                }
                
            }
        }
    }
}
